@model EmployeeForCreationDto
@{
    ViewData["Title"] = "Create";

}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Employee</h1>
    <form method="post" asp-controller="Employee" asp-action="Create" class=" row col-8" enctype="multipart/form-data">
        <partial Name="PartialViews/CreateEditEmployeePartial"/>
    </form>
</div>

@section ValidtionScripts {
    <partial name="_ValidationScriptsPartial" />
}