@model DepartmentForCreationDto
@{
    ViewData["Title"] = "Create";
}

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <partial name="_ToastPartialView" />
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>

    <form class="col-8" method="post" asp-controller="Department" asp-action="Create">
        <partial name="PartialViews/CreateEditDepartmentPartial"/>
    </form>
</div>

@section ValidtionScripts{
    <partial name="_validationScriptsPartial" />
}