@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="SendResetPasswordLink" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />

                <input type="submit" value="Reset Password">
            </form>
            <p><a asp-action="Login">Cancel</a></p>
        </div>
    </div>
</div>
